<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor" authorizationPolicy="episerver:cmsedit" name="GoogleMapsEditor" productName="Google Maps Editor">
  <assemblies>
    <add assembly="GoogleMapsEditor" />
  </assemblies>
  
  <dojo>
    <paths>
      <add name="googlemapseditor" path="ClientResources/googlemaps" />
    </paths>
  </dojo>
  
</module>